#rublon2factor_page {
	display: inline-block;
	width: 100%;
}

h2.rublon-header {
	padding-left: 38px;
	background-image: url('../images/rublon_logo_32x32.png');
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: 0 9px;
	margin-bottom: 14px;
	line-height: 32px;
}

h3.rublon-header {
	padding-left: 38px;
	background-image: url('../images/rublon_logo_32x32.png');
	background-size: 32px 32px;
	background-repeat: no-repeat;
	margin-bottom: 14px;
	line-height: 32px;
}

li#toplevel_page_rublon div.wp-menu-image {
	background-image: url('../images/rublon_logo_16x16.png');
	background-size: 16px 16px;
	background-position: 7px 7px;
	background-repeat: no-repeat;
	opacity: .6;
}

li#toplevel_page_rublon:hover div.wp-menu-image {
	opacity: 1;
}

li#toplevel_page_rublon.current div.wp-menu-image {
	opacity: 1;
}

.rublon-activation-mere-user {
	padding: 10px !important;
	margin-top: 10px !important;
}

.rublon-button-header {
	width: 100%;
}

.rublon-clear {
	clear: both;
}

#rublon-toolbar-logo {
	border: 0 !important;
	background: transparent !important;
	width: 16px;
	height: 16px;
	padding: 0;
	line-height: 24px;
	vertical-align: middle;
	margin: -4px 0 0 6px;
	float: none;
	display: inline;
}

.rublon-bold {
	font-weight: bold;
}

.rublon-red {
	color: #FF0000;
}

.rublon-settings-desc {
	margin-top: 4px !important;
	margin-bottom: 1em !important;
	max-width: 1100px;
}

.rublon-inactive-feature {background: white; padding: 1em; border: solid 1px #a6C3c0; display: inline-block;}
.rublon-inactive-feature .dashicons {color: #26C370; font-size: 30px; vertical-align: center; margin-right: 0.6em; margin-top: -4px;}
.rublon-settings-confirmations label {display: block;}

.rublon-settings-setting-name {
	margin-bottom: 4px !important;
}

#RublonDeviceWidget, #RublonShareAccessWidget {
	width: 460px;
	height: 347px;
	border: none;
}

#rublon_dashboard_device_widget #RublonDeviceWidget {
	width: 100%;
}

#rublon_dashboard_access_control_manager #RublonShareAccessWidget {
	width: 100%;
}

#rublon-busy-overlay {
	width: 100%;
	height: auto;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none; 
}

#rublon-busy-iframe-container {
	width: 500px;
	height: 400px;
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -200px;
	z-index: 99999;
	background: none;
	border: none;
}

#rublon-busy-iframe {
	width: 100%;
	height: 100%;
}

div.rublon-lock-container {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 18px;
}

div.rublon-lock-container.rublon-userprotectiontype {
	width: 21px;
}

div.rublon-lock-container.hidden {
	display: none;
}

div.rublon-lock-container.visible {
	display: inline-block;
}

.rublon-locked-container {
	height: 21px;
}

.rublon-unlocked-container {
	height: 24px;
}

.rublon-userprotectiontype-locked {
	height: 24px;
}

.rublon-label {
	margin-left: 2px;
}

.rublon-lock {
	position: absolute;
	left: 0;
}

.rublon-locked {
	top: -1px;
}

.rublon-unlocked {
	top: -2px;	
}

div.rublon-settings-setting-label {
	min-width: 200px;
	display: inline-block;
	font-weight: bold;
}

div.rublon-setting-header {
	display: inline-block;
	padding-left: 5px;
	margin-top: 10px;
}

.rublon-busy-iframe-close {
	position: absolute;
	bottom: -30px;
	right: -10px;
	width: 500px;
	display: none;
	color: white;
	text-align: right;
	cursor: pointer;
}

div.rublon-settings-label-column {
	min-width: 200px;
	display: inline-block;
}

div.rublon-settings-checkbox-column {
	min-width: 200px;
	display: inline-block;
	text-align: center;
}

div.rublon-settings-line {
	margin-bottom: 5px !important;
}

div.rublon-settings-first-line {
	margin-top: 10px;
}

div.rublon-description {
	margin-top: 5px;
}

.rublon2factor_status img.rublon-protected {
	width: 32px;
	height: 32px;
	margin-top: 1px;
}

fieldset.rublon-apireg-fieldset {
	padding: 0 15px;
}

.rublon-apireg-pointer {
	width: 665px !important;
}

.rublon-apireg-pointer .rublon-apireg-half-column {
	display: inline-block;
	vertical-align: middle;
	width: 324px;
}

.rublon-apireg-pointer .rublon-apireg-image {
	width: 339px;
}

.rublon-apireg-visual {
	width: 324px;
	padding: 15px 15px 15px 0;
}

.rublon-apireg-buttons {
	margin-top: 10px;	
}

#rublon-apireg-button-cancel,
#rublon-apireg-button-activate,
#rublon-annmstats-button-cancel,
#rublon-annmstats-button-activate {
	float: left;
}

#rublon-apireg-button-cancel, #rublon-annmstats-button-cancel {
	margin: 0 0 0 5px;	
}

.rublon-busy-spinner {
	height: 18px;
	width: 18px;
	margin: 2px auto;
	-webkit-animation: rublon-spinner-rotation .9s infinite linear;
	-moz-animation: rublon-spinner-rotation .9s infinite linear;
	-o-animation: rublon-spinner-rotation .9s infinite linear;
	animation: rublon-spinner-rotation .9s infinite linear;
	border-left: 3px solid rgba(52, 52, 52, .6);
	border-right: 3px solid rgba(52, 52, 52, .15);
	border-bottom: 3px solid rgba(52, 52, 52, .15);
	border-top: 3px solid rgba(52, 52, 52, .6);
	border-radius: 100px;
}

.rublon-busy-spinner-anchor {
	width: 0;
	position: relative;
	margin: 0;
	display: inline-block;
}

.rublon-busy-spinner.small {
	height: 10px;
	width: 10px;
	position: relative;
	display: inline-block;
	float: right;
	margin: 0;	
	margin-left: 3px;
}

.rublon-busy-spinner-anchor.hidden {
	display: none;
}

.rublon-busy-spinner-appended {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -18px;
	margin-left: 5px;
}

@-webkit-keyframes rublon-spinner-rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rublon-spinner-rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rublon-spinner-rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}

@keyframes rublon-spinner-rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	h2.rublon-header {
		background-image: url('../images/rublon_logo_32x32@2x.png');
	}
	li#toplevel_page_rublon div.wp-menu-image {
		background-image: url('../images/rublon_logo_16x16@2x.png');	
	}
}

.rublon-be-infobox-container {
	
	border-radius: 5px;
	border: 2px solid #00c389;
	background-color: #ffffff;
	padding: 10px;
	margin-top: 25px;
	width: 45%;		
	margin: 15px !important;
	margin-left: 0px !important;
}

.rublon-be-infobox-container h3 {
	font-size: 1.1em;
}

.rublon-be-infobox-container.wide {
	width: 90%;
}

.rublon-be-infobox-content {
	width: 100%;
	padding: 0px;	
}

.rublon-be-infobox-content.wide {
	line-height: 0px !important;
}

.rublon-be-infobox-content ul {
	margin-left: 20px;
	list-style-type: circle;
}

.rublon-button-buy-now:HOVER {
	text-decoration: none;
	color: #fff !important;
	background: #76B895 !important;
}

.rublon-button-buy-now:VISITED {
	text-decoration: none;
	color: #fff !important;
}

.rublon-button-buy-now {
  cursor: pointer;
  display: inline-block;
  height: 53px;
  line-height: 53px;
  border-bottom: 3px solid #1D8C51 !important;
  background: #26C370 !important;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 34px;
  text-align: center;
  -webkit-transition: margin 0.1s ease-in-out, border 0.1s ease-in-out, opacity 0.1s ease-in-out;
  -moz-transition: margin 0.1s ease-in-out, border 0.1s ease-in-out, opacity 0.1s ease-in-out;
  transition: margin 0.1s ease-in-out, border 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.rublon-button-buy-now.wide {
	height: 30px;
  	line-height: 33px;
  	font-size: 15px;
}

.rublon-buy-now-subcontainer {
	width: 100%;	
	overflow: hidden;	
	display: table;
}

.rublon-buy-now-left {
	display: table-cell;
    width: 70%;
    vertical-align: top;
    text-align: left;
}

.rublon-buy-now-left.wide {	
    width: 85%;    
}

.rublon-buy-now-right {
	display: table-cell;
    padding-right: 10px;    
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

.rublon-buy-now-right.wide.normal {
	vertical-align: bottom;
}

.rublon-buy-now-right.wide {
	width: 15%;
	text-align: right;
}

.rublon-buy-now-tip {
	color: #797979;
	font-size: 0.8em;
}

.rublon-warning {
	background-color: #eee2be !important;
	border: 1px solid #eb5e00 !important;
}