li#toplevel_page_rublon div.wp-menu-image {
	background-position: 10px 9px;
}

@media screen and (max-width: 782px) {
	#rublon-toolbar-logo {
		position: absolute !important;
		right: 46px !important;
		top: 14px !important;
	}
	#wpadminbar #wp-admin-bar-my-account > .ab-item {
		width: 82px !important;
	}
}