#rublon-toolbar-logo {
	border: 0 !important;
	background: transparent !important;
}

.rublon-seal-link {
	float: left;
}

#rublon-seal {
	padding-top: 10px;
	padding-bottom: 8px;
	clear: both;
}

.rublon-clear {
	clear: both;
}